<p>To create an account please use provide a valid email, username (less than twenty characters), and passowrd.</p>

<%= render "partials/flash" %>

<%= bootstrap_form_for @user do |f| %>
  <%= f.text_field :email %>
  <%= f.text_field :name  %>
  <%= f.password_field :password %>
  <%= f.submit "Sign Up"%>
<% end %>
